@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: fortnite-normal;
    src: url(../font/Burbank-Normal.woff);
  }

  @font-face {
    font-family: fortnite-small;
    src: url(../font/Burbank-small.woff);
  }


body{
	background-image: url('http://ingame-news.lazylinks.fr/images/background.png');
	background-repeat: no-repeat;
	 
}

.header p{
	font-family: fortnite-normal;
	font-size: 180px;
	font-weight: 800;
	color: white
}

.footer{
	width: 100%;
}
.footer p{
	float: inherit;
	margin-top: 25px;
	font-family: fortnite-normal;
	font-size: 80px;
	font-weight: 800;
	color: white
}

.navbar {
    font-family: fortnite-small;
}

.card-deck {
	margin-left: 100px;
    margin-right: 100px;
}

.container {
    color: white;
}

.card-title {
	font-family: fortnite-normal;
	font-size: 2.3em;
	margin-bottom: 0rem!important;
	text-transform: uppercase;
	color: #1B1E31;
}

.card-text {
	font-family: fortnite-small;
	color: #8FB4D1;
}

.popup {
    font-family: fortnite-small;
    font-size: 1.8rem;
    color: #fff;
    border-radius: 10px;
    background-color: red;
    padding: 0.2rem 0.5rem;
    float: right;
    position: absolute;
    right: -15px;
    top: -25px;
  }
