@font-face {
    font-family: Myfont_title;
    src: url('../font/Burbank-Normal.woff');
}
@font-face {
    font-family: Myfont_content;
    src: url('../font/Burbank-small.woff');
}

*{
	margin: 0px auto;
}
body{
	background-image: url('../images/14-days-fortnite.png');
	background-repeat: no-repeat;
	 
}

.header p{
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: Myfont_title;
	font-size: 180px;
	font-weight: 800;
	color: white
}
.main{
	width: 100%;
}
.footer{
	width: 100%;
}
.footer p{
	float: inherit;
	margin-top: 150px;
	font-family: Myfont_title;
	font-size: 80px;
	font-weight: 800;
	color: white
}
.data{
	float: left;
	width: 500px;
	height: 400px;
	border: 5px solid white;
	margin-left: 100px;
	background-color: white

}
.data_image{
	width: 500px;
	height: 250px;
}
.data_content{
	width: 500px;
	height: 150px;
	margin-left: 10px
}
.content_title{
	margin-top: 5px;
	font-family: Myfont_title;
	font-size: 35px;
	font-weight: 800;
	color: #24293f
}

.content{
	 
	font-family: Myfont_content;
	font-size: 18px;
	font-weight: 800;
	color: #4fa1d1
}
